/* loading iframe */
#loader1 {
  position:absolute;
  left:45%;
  top:35%;
  border-radius:20px;
  padding:25px;
  border:1px solid #777777;
  background:#ffffff;
  box-shadow:0px 0px 10px #777777;
}
/* tombol ganti gambar pegawai */
div.imgpegawai { position: relative; }
div.imgpegawai div { width: 100%; position: absolute; top: 5%; left: 5%; display: none; }
div.imgpegawai img:hover + div { display: block; }
div.imgpegawai div:hover { display: block; }
